<% @entries.each do | e | %> 
  <h2><%= e.title %></h2>
  <h3><%= e.author %>&nbsp;&nbsp;&nbsp;<%= e.published %></h3> 
  <p><%= e.summary.to_s.html_safe unless e.content != nil %></p>
  <p><%= e.content.to_s.html_safe %></p>    
  <hr />
<% end %>       
